<div class="container-fluid">
  <div class="row" (click)="getTaskDetailsForModal($event)">
    <app-group *ngFor="let group of board.groups" [attr.data-group-board-id]="group.boardId" [attr.data-group-id]="group._id"
      [attr.data-group-order]="group.order" [group]="group"></app-group>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Add a group..." (focus)="_checkUserCredentials()">
            </div>
            <button type="button" class="btn btn-default">Save</button>
          </form>
        </div>
      </div>
    </div>

    <bs-modal #taskDetailModal>

      <div *ngIf="!_authService.checkUserCredentials()">
        <div *ngIf="_isModalSignInVisisble" class="container-fluid">
          <app-signin></app-signin>
          <div class="row" [style.marginTop.px]="-20">
            <h4 class="text-center">or</h4>
            <div class="col-md-4 col-md-offset-5" [style.marginBottom.px]="20">
              <button type="button" class="btn btn-info" (click)="toggleAuthFormsVisible()">Sign up</button>
            </div>
          </div>
        </div>
        <app-signup *ngIf="_isModalSignUpVisisble"></app-signup>
      </div>

      <form #modalForm="ngForm" *ngIf="_authService.checkUserCredentials()">
        <bs-modal-header [showDismiss]="true">
          <h4 class="modal-title">Task details</h4>
        </bs-modal-header>
        <bs-modal-body>
          <div class="loader" *ngIf="_isLoaderVisible"></div>
          <div class="form-group" [style.visibility]="!_isLoaderVisible ? 'visible' : 'hidden'">
            <label for="title">Title</label>
            <input [disabled]="!_isTaskEditable" type="text" class="form-control" required [(ngModel)]="_taskDetails.title" name="title"
              id="title">
          </div>
          <div class="form-group" [style.visibility]="!_isLoaderVisible ? 'visible' : 'hidden'">
            <label for="description">Description</label>
            <input [disabled]="!_isTaskEditable" type="text" class="form-control" required [(ngModel)]="_taskDetails.description" name="description"
              id="description">
          </div>
          <div class="form-group" [style.visibility]="!_isLoaderVisible ? 'visible' : 'hidden'">
            <label for="dueDate">dueDate</label>
            <input [disabled]="!_isTaskEditable" type="date" class="form-control" required [(ngModel)]="_taskDetails.dueDate" name="dueDate"
              id="dueDate">
          </div>
          <div class="row" *ngIf="_isLoaderVisible" [style.marginBottom.px]="-20">
            <h5 class="text-center">Please, wait...</h5>
          </div>
        </bs-modal-body>
        <bs-modal-footer>
          <button [style.visibility]="!_isLoaderVisible ? 'visible' : 'hidden'" type="button" class="btn btn-default" (click)="taskDeletingModal.open(model2)">Delete</button>
          <button [style.visibility]="!_isLoaderVisible ? 'visible' : 'hidden'" type="button" class="btn btn-warning" (click)="_editTask()">Edit</button>
          <button *ngIf="_isTaskEditable" type="button" class="btn btn-success" data-dismiss="modal" (click)="taskDetailModal.dismiss()">Save</button>
          <button type="button" class="btn btn-default" (click)="taskDetailModal.close()">Close</button>
        </bs-modal-footer>
      </form>
    </bs-modal>

    <bs-modal #taskDeletingModal>
      <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Confirmation of deletion</h4>
      </bs-modal-header>
      <bs-modal-body>
        <div>
          <h3>Do you confirm deletion of this task?</h3>
        </div>
      </bs-modal-body>
      <bs-modal-footer>
        <button type="button" class="btn btn-default" (click)="_runTaskDeletion()">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="taskDeletingModal.dismiss()">Cancel</button>
      </bs-modal-footer>
    </bs-modal>

  </div>
</div>
