<div class="container-fluid">
  <div class="row" (click)="getTaskDetailsForModal($event)" id="board">
    <app-group *ngFor="let group of _boardService.board.groups" [attr.data-group-board-id]="group.boardId" [attr.data-group-id]="group._id"
      [attr.data-group-order]="group.order" [group]="group"></app-group>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Add a group..." (focus)="checkUserCredentials()">
            </div>
            <button type="button" class="btn btn-default">Save</button>
          </form>
        </div>
      </div>
    </div>

    <bs-modal #taskDetailsModal>

      <div *ngIf="!_authService.checkUserCredentials()">
        <div *ngIf="isModalSignInVisible" class="container-fluid">
          <app-signin></app-signin>
          <div class="row" [style.marginTop.px]="-20">
            <h4 class="text-center">or</h4>
            <div class="col-md-4 col-md-offset-5" [style.marginBottom.px]="20">
              <button type="button" class="btn btn-info" (click)="toggleAuthFormsVisible()">Sign up</button>
            </div>
          </div>
        </div>
        <app-signup *ngIf="isModalSignUpVisible"></app-signup>
      </div>

      <form #modalForm="ngForm" *ngIf="_authService.checkUserCredentials()">
        <bs-modal-header [showDismiss]="true">
          <h4 class="modal-title">Task details</h4>
        </bs-modal-header>
        <bs-modal-body>
          <div class="loader" *ngIf="isLoaderVisible"></div>
          <div class="form-group" *ngIf="!isTaskDeleted" [style.visibility]="!isLoaderVisible ? 'visible' : 'hidden'">
            <label for="title">Title</label>
            <input [disabled]="!isTaskEditable" type="text" class="form-control" required [(ngModel)]="_taskService.taskDetails.title"
              name="title" id="title">
          </div>
          <div class="form-group" *ngIf="!isTaskDeleted" [style.visibility]="!isLoaderVisible ? 'visible' : 'hidden'">
            <label for="description">Description</label>
            <input [disabled]="!isTaskEditable" type="text" class="form-control" required [(ngModel)]="_taskService.taskDetails.description"
              name="description" id="description">
          </div>
          <div class="form-group" *ngIf="!isTaskDeleted" [style.visibility]="!isLoaderVisible ? 'visible' : 'hidden'">
            <label for="dueDate">dueDate</label>
            <input [isDisabled]="!isTaskEditable" type="text" class="form-control" bsDatepicker [bsConfig]="datepickerOptions" [(ngModel)]="_taskService.taskDetails.dueDate"
              name="dueDate" id="dueDate">
            <!-- <input  [isDisabled]="!isTaskEditable" type="date" class="form-control" [(ngModel)]="_taskService.taskDetails.dueDate" name="dueDate" id="dueDate"> -->
          </div>
          <div class="row" *ngIf="isLoaderVisible" [style.marginBottom.px]="-20">
            <h5 class="text-center">Please, wait...</h5>
          </div>
          <div class="row" *ngIf="isTaskDeleted">
            <h3 class="text-center">{{_taskService.taskDeletionMsg}}</h3>
          </div>
        </bs-modal-body>
        <bs-modal-footer>
          <button *ngIf="!isTaskDeleted" [style.visibility]="!isTaskVisible ? 'visible' : 'hidden'" type="button" class="btn btn-default"
            (click)="taskDeletionModal.open(model2)">Delete</button>
          <button *ngIf="!isTaskDeleted" [style.visibility]="!isLoaderVisible ? 'visible' : 'hidden'" type="button" class="btn btn-warning"
            (click)="editTask()">Edit</button>
          <button *ngIf="isTaskEditable" type="button" class="btn btn-success" (click)="runTaskUpdating()">Save</button>
          <button type="button" class="btn btn-default" (click)="taskDetailsModal.close()">Close</button>
        </bs-modal-footer>
      </form>
    </bs-modal>

    <bs-modal #taskDeletionModal>
      <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">Confirmation of deletion</h4>
      </bs-modal-header>
      <bs-modal-body>
        <div>
          <h3>Do you confirm deletion of this task?</h3>
        </div>
      </bs-modal-body>
      <bs-modal-footer>
        <button type="button" class="btn btn-default" (click)="runTaskDeletion()">Yes</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="taskDeletionModal.dismiss()">Cancel</button>
      </bs-modal-footer>
    </bs-modal>

  </div>
</div>
